
.menuMutton,
.mobileLinks{
   display: none;

}
@media(max-width: 768px){
    .links{
        display: none;
    }
    .menuMutton{
        display: block;
    }
 

    .mobileLinks{
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px);
        background-color: var(--bg);
      /* //  background-color: red; */
       
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    
    }
}